.avatar-frame, .avatar-frame img {
    margin: 0px auto;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 150px; /* Saf3+, Chrome */
    border-radius: 150px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}

.copyright {
    font-weight: 200;
    font-size: 0.6em;
}

.forkme {
    display: none;
}

@media (min-width: 48em) {
    .forkme {
        display: block;
    }
}
